doctype html
html(⚡='')
  head
    meta(charset='utf-8')
    title= "Formulaire de l'accorderie"
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/css/bootstrap.min.css')

    script(type='text/javascript').

      function downloadCsv(records)
      {
        console.log('toto');

        let csvFile = "data:text/csv;charset=utf-8,";

        const header = ['id', 'Date', 'Beneficiary', 'Provider', 'Description', 'Duration','Ref', 'User agent', 'User ip'];
        csvFile += header + "\r\n";

        records.forEach(function(record) 
        {
            record = setDuration(record);
            
            newRecord = {
              "id" : record.id,
              "date" : record.date,
              "beneficiary" : record.beneficiary,
              "provider" : record.provider,
              "description" : record.description,
              "duration" : record.duration,
              "ref" : record.ref,
              "user_agent" : record.user_agent,
              "user_ip" : record.user_ip
            }

            newRecord = Object.values(newRecord);
            let row = newRecord.join(",");
            csvFile += row + "\r\n";
        });
        console.log(newRecord);

        var link = window.document.createElement("a");
        link.setAttribute("href", encodeURI(csvFile));
        link.setAttribute("download", "time-exchange-records.csv");
        link.click();
      }

      function setDuration(record) 
      {
          if (record.minutes < 10) 
          {
              record.minutes = '0' + record.minutes;
          }

          if (record.hours < 10) 
          {
              record.hours = '0' + record.hours;
          }

          record.duration = record.hours + 'h' + record.minutes + 'm';
          delete record.hours;
          delete record.minutes;

          return record;
      }
  body
    block content