extends layout.jade

block content

  header.pb-3.mb-4
  body(style="height: 100vh;")
    .container.h-100
      .row.h-100.justify-content-center.align-items-center
        .spinner-border(role="status", style="width: 5rem; height: 5rem; color:#9d1944; ")
          span.visually-hidden Loading...