doctype html
html
  head
    title= "Formulaire de l'accorderie"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    block content
